<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="layout">
        <nav>
            <a href="/">play</a> |
            <a href="/sandbox">sandbox</a> 
        </nav>
        {{{body}}}
        <footer>Marcin Perzanowski 2026</footer>
    </div>
</body>
</html>