:root{
    --wide-border:5px;
    --medium-border:2.5px;
    --small-border:1px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;   
    
}

body{
    background-color: #201c2e;
}

.tile{
    padding: 0;
    border: var(--small-border) solid #000;
    color: #222;
    background-color: var(--bright);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
    padding:0;  
    font-size: 2rem;
    width: 100%;
    height: 100%;
}

.tile:focus{
    outline: none;
}

.disabled_tile{
    font-weight: bolder;
}

.sudoku_error_msg{
    width: 500px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 37, 37);
    text-align: center;
    transition: 0.75s;
    border: 1px solid #661717;
    border-radius: 3px;
}

.state_input{
    width: 400px;
    background-color: #555;
    color: var(--bright);
    display: inline;
    height: 600px;
}

.sudoku_main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-big{
    height: 100px;
    width: 180px;
    background-color: var(--bright);
    font-size: 2rem;
}

.sudoku_board{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    aspect-ratio: 1/1;
    gap:0;
    box-shadow: 0 0 5px 1px #6554af;    
    width:630px;
    height: 630px;
}


.medium_top_border{
    border-top-width: var(--medium-border);
}
.medium_bottom_border{
    border-bottom-width: var(--medium-border);
}
.medium_left_border{
    border-left-width: var(--medium-border);
}
.medium_right_border{
    border-right-width: var(--medium-border);
}

.wide_top_border{
    border-top-width: var(--wide-border);
}
.wide_bottom_border{
    border-bottom-width: var(--wide-border);
}
.wide_left_border{
    border-left-width: var(--wide-border);
}
.wide_right_border{
    border-right-width: var(--wide-border);
}

.highlighted_tile{
    background-color: rgb(98, 212, 98);
}
.error_tile{
    background-color: rgb(216, 107, 107);
}

